.ex-cards{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    width:100%;
    gap:1rem;
}
.name{
    width: 5rem;
}
.image{
    width: 5rem;
}
.image img{
    border-radius: 50%;
}
.price{
    width: 5rem;
}
.rank{
    width: 5rem;
}
.btns button{
    padding: 1rem 2rem;
    background-color: orange;
    border: none;
    margin: 1rem 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 2rem;
}
